{% extends "layout.html" %}
{% block content %}

  <h1>About Page</h1>

  <!-- about the project -->
  this project was made with the intent of monotoring the melting polar ice caps.The robot serves as a scout rover, keeping track
  of weather data and periodically collect imformation on the state of the ice in different regions. The rover uses a compact modified
  drill motor to create a hole in the ice for a temeperature probe to go in. Current polar monitoring technology consists of satallite
  imaging of the region. This is somewhat inaccurate and inprecise because the imaging only collects data of large areas and
  no satallites can be directly postioned above the globe, making usual triangulation difficult. Keeping track of the state of the arctic
  becomes increasingly important as scientists work hard to find the best course of action for global warming.

 



{% endblock %}
